.list-view {
	-fx-background-color: #0D0208;
}

.list-cell:even {
	-fx-background-color: #0D0208;
	-fx-text-fill: #008F11;
}
.list-cell:odd {
	-fx-background-color: #0D0208;
	-fx-text-fill: #008F11;
}

.list-cell:focused {
	-fx-background-color: #0D0208;
	-fx-text-fill: #00FF41;
	-fx-border-radius: 1.0em;
	-fx-border-color: #00FF41;
}

.scroll-bar {
	-fx-background-color: #0D0208;
	-fx-color: #008F11;
	-fx-border-radius: 2.0em;
}

.scroll-bar .thumb {
	-fx-color: #008F11;
}

.scroll-bar .thumb:pressed {
	-fx-color: #00FF41;
}

.increment-button {
	-fx-background-color: #0D0208;
}

.increment-arrow,
.decrement-arrow {
    -fx-background-color: #008F11;

}

.decrement-button {
	-fx-background-color: #0D0208;
}

.corner {
	-fx-background-color: black;
}

.button {
	-fx-background-color: #0D0208;
	-fx-text-fill: #008F11;
	-fx-border-color: #008F11;
	-fx-border-radius: 1.0em;
	-fx-border-width: 5px;
}

.button:pressed {
	-fx-text-fill: #00FF41;
	-fx-border-color: #00FF41;
}

.button:hover {
	-fx-text-fill: #00FF41;
	-fx-border-color: #00FF41;
}

.hbox {
	-fx-background-color: #0D0208;
	-fx-spacing: 5;
	-fx-padding: 10;
}

.labelHBox {
	-fx-background-color: #0D0208;
	-fx-padding: 15;
	-fx-spacing: 250;

}
.nowPlayingLabel {
	-fx-background-color: #0D0208;
	-fx-text-fill: #00FF41;
	-fx-font-size: 16pt;
}
.infoLabel {
	-fx-background-color: #0D0208;
	-fx-text-fill: #00FF41;
}

.queueLabel {
	-fx-background-color: #0D0208;
	-fx-text-fill: #00FF41;
	-fx-font-size: 16pt;
}
.searchField {
	-fx-background-color: #0D0208;
	-fx-text-fill: #00FF41;
	-fx-prompt-text-fill: #00660c;
	-fx-border-color: #00FF41;
}
.slider {
	-fx-background-color: #0D0208;
}

.slider .track {
	-fx-background-color: #008F11;
}
.slider .thumb {
	-fx-background-color: #008F11;
}

.slider .thumb:hover {
	-fx-background-color : #00FF41;
}
.slider .thumb:pressed {
	-fx-background-color: #00FF41;
}

.menu-bar {
	-fx-background-color: #0D0208;
}

.menu {
	-fx-border-color: #008F11;
	-fx-border-width: 2px;
	-fx-border-radius: 5px;
}

.menu:hover {
	-fx-background-color: #0D0208;
	-fx-border-color: #00FF41;
}

.menu:showing {
	-fx-background-color: #0D0208;
	-fx-border-color: #00FF41;
}

.menu:showing .label {
	-fx-text-fill: #00FF41;
}

.menu .label {
	-fx-text-fill: #008F11;
}

.menu .label:hover {
	-fx-text-fill: #00FF41;
}

.
.menuitem {
	-fx-background-color: #0D0208;
	-fx-border-color: #008F11;
}
.menuitem:focused {
	-fx-background-color: #0D0208;
	-fx-border-color: #00FF41;
	-fx-border-radius: 5px;
}

.check-box{
    -fx-background-color: #0D0208;
    -fx-font-size: 18;
    -fx-padding: 10;
    -fx-text-fill: #008F11;
}

.check-box .box{
    -fx-background-color: #0D0208;
    -fx-border-color: #008F11;
}

.check-box:selected .mark{
    -fx-background-color: #00FF41;
}

.context-menu {
    -fx-background-color: #0D0208;
}

.rootPane {
	-fx-background-color: #0D0208;
}

.progress-bar {
    -fx-text-box-border: #008F11;
    -fx-control-inner-background: #0D0208;
    -fx-accent: #00FF41;
}